{% extends 'admin.html.twig' %}

{% block title %}Realisations index{% endblock %}

{% block body %}
    <div class="container pl-0 pr-0">
        
        <a class="pl-2 black-text mb-0 py-5 font-weight-bold" href="{{ path('realisations_new') }}"><i class="fas fa-plus"></i> Ajouter une image</a>
        <!--Header-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Section</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
            {% for realisation in realisations|reverse %}
                <tr>
                    <td>{{ realisation.title }}</td>
                    <td>{{ realisation.description }}</td>
                    <td>{{ realisation.section }}</td>
                    <td>
                        {% for image in realisation.images %}
                            <div>
                                <img src="{{ asset('/uploads/'~image.name) }}" alt="" width="80">
                            </div>
                        {% endfor %}
                    </td>

                    <td>
                        <div class="row">
                            <button class="m-1" style="border: solid transparent; background-color: transparent;"><a class="" href="{{ path('realisations_show', {'id': realisation.id}) }}"><i class="pl-1 pr-1 far fa-eye"></i></a></button>

                            <button class="m-1" style="border: solid transparent; background-color: transparent;"><a href="{{ path('realisations_edit', {'id': realisation.id}) }}"><i class="pl-1 pr-1 fas fa-pencil-alt pr-xl-2 pr-md-0 pr-2"></i></a></button>
                            
                            <form class="m-1" method="post" class="text-right mr-5" action="{{ path('realisations_delete_image', {'id': realisation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ realisation.id) }}">
                                <button style="border: solid transparent; background-color: transparent;"><i class="fas fa-trash-alt red-text"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
