{% extends 'admin.html.twig' %}

{% block title %}Realisations{% endblock %}

{% block body %}
    <div class="container pl-0 pt-5">

        <div class="container">
            <div class="card">
                <div class="card-body mx-4">
                    <div class="md-form row">
                        <div class="col-5">
                            <p>{{ realisation.title }}</p>
                            <p>{{ realisation.description }}</p>
                            <p>{{ realisation.section }}</p>
                        </div>
                        <div class="col-7">
                            {% for image in realisation.images %}
                                <div>
                                    <img style="max-width: 250px;" src="{{ asset('/uploads/'~image.name) }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="pr-2 row justify-content-end">
                <button class="btn">
                    <a href="{{ path('realisations_edit', {'id': realisation.id}) }}"><i class="fas fa-pencil-alt prefix black-text"></i></a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
